# Talos files

config/talos/**/*.yaml
config/talos/**/*.talosconfig
config/talos/**/talosconfig
config/**/*.yaml
!config/talos/controller-patch.yaml
!config/talos/patch.yaml
!config/talos/worker-patch.yaml
